{% for obj in chat %}
    {% if iteuploader == request.user.username  %}
        {% if request.user.username == obj.to %}
            <li class="cont">
                <img src="{{ obj.user.userprofileinfo.profilepic.url }}" alt="Avatar" class="right" style="width:100%;">
                <p>{{ obj.user }} : {{ obj.message }}</p>
                <span class="time-left">  {{ obj.created }}</span>
            </li>
        {% elif request.user.username == obj.fromm %}
            <li class="cont darker">
                <img src="{{ obj.user.userprofileinfo.profilepic.url }}" alt="Avatar" class="left" style="width:100%;">
                <p>{{ obj.user }} : {{ obj.message }}</p>
                <span class="time-left">{{ obj.created }}</span>
            </li>
        {% endif %}
    {% elif iteuploader != request.user.username %}
        {% if request.user.username == obj.fromm %}
              <li class="cont darker">
                  <img src="{{ obj.user.userprofileinfo.profilepic.url }}" alt="Avatar" class="left" style="width:100%;">
                  <p>{{ obj.user }} : {{ obj.message }}</p>
                  <span class="time-left">{{ obj.created }}</span>
              </li>
        {% elif request.user.username == obj.to %}
              <li class="cont">
                  <img src="{{ obj.user.userprofileinfo.profilepic.url }}" alt="Avatar" class="right" style="width:100%;">
                  <p>{{ obj.user }} : {{ obj.message }}</p>
                  <span class="time-left">  {{ obj.created }}</span>
              </li>
        {% endif %}

    {% endif %}
  {% empty %}
      <li class="text-right list-group-item">No messages yet!</li>
{% endfor %}
