<!DOCTYPE html>
{% extends "firstapp/base3.html" %}

  {% block title_block %}
      <title>Flea-mart | Reset Password</title>
  {% endblock %}
  {% block body_block %}
  <ul class="breadcrumb">
      <li><a href="{% url 'index' %}">Home</a></li>
      <li class="active"><a href="">Update Password</a></li>
  </ul>
<style media="screen">
.form-gap {
  padding-top: 70px;
}
</style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<div class="form-gap"></div>
<div class="container">
 <div class="row">
   <div class="col-md-4 col-md-offset-4">
           <div class="">
             <div class="panel-body">
               <div class="text-center">
                 <h3><i class="fa fa-pencil-square-o fa-4x"></i></h3>
                 <h2 class="text-center">Set Password Below..</h2>
                 <p>You can reset your password here.</p>
                 <div class="panel-body">

                   <form name="forgotPassword" method="POST" id="myFormid" action="{% url 'firstapp:set_password' %}" role="form" autocomplete="off" class="form">
                     {% csrf_token %}
                     <div class="form-group">
                       <div class="input-group">
                         <span class="input-group-addon"><i class="glyphicon glyphicon-user color-blue"></i></span>
                         <input id="username" name="username" placeholder="User Name" class="form-control"  type="username">

                       </div>
                     </div>
                     <div class="form-group">
                       <div class="input-group">
                         <span class="input-group-addon"><i class="glyphicon glyphicon-lock color-blue"></i></span>
                         <input id="password" name="password" placeholder="User Password" class="form-control"  type="password">

                       </div>
                     </div>

                     <div class="form-group">
                       <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Reset Password" type="submit">
                     </div>

                     <input type="hidden" class="hide" name="token" id="token" value="">
                   </form>
                   <div class="col-lg-8 col-md-offset-4 padding-left-0">
                     <a href="page-forgotton-password.html">{{ Notice }}</a>
                   </div>

                 </div>
               </div>
             </div>
           </div>
         </div>
 </div>
</div>
{% endblock %}
